USE [master]
GO
/****** Object:  Database [StudentArchiveDB]    Script Date: 7/5/2026 2:35:49 AM ******/
CREATE DATABASE [StudentArchiveDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'StudentArchiveDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentArchiveDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'StudentArchiveDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\StudentArchiveDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [StudentArchiveDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [StudentArchiveDB]
GO
/****** Object:  User [javauser]    Script Date: 7/5/2026 2:35:49 AM ******/
CREATE USER [javauser] FOR LOGIN [javauser] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [archive_user]    Script Date: 7/5/2026 2:35:49 AM ******/
CREATE USER [archive_user] FOR LOGIN [archive_user] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [javauser]
GO
ALTER ROLE [db_owner] ADD MEMBER [archive_user]
GO
/****** Object:  Table [dbo].[Documents]    Script Date: 7/5/2026 2:35:49 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Documents](
	[DocumentID] [int] IDENTITY(1,1) NOT NULL,
	[StudentID] [int] NOT NULL,
	[DocumentName] [nvarchar](200) NOT NULL,
	[DocumentDate] [date] NULL,
	[FilePath] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[DocumentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Majors]    Script Date: 7/5/2026 2:35:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Majors](
	[MajorID] [int] IDENTITY(1,1) NOT NULL,
	[MajorName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MajorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Nationalities]    Script Date: 7/5/2026 2:35:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Nationalities](
	[NationalityID] [int] IDENTITY(1,1) NOT NULL,
	[NationalityName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NationalityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 7/5/2026 2:35:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[FullName] [nvarchar](150) NOT NULL,
	[MotherName] [nvarchar](150) NULL,
	[BirthDate] [nvarchar](50) NULL,
	[Nationality] [nvarchar](100) NULL,
	[Religion] [nvarchar](50) NULL,
	[MaritalStatus] [nvarchar](50) NULL,
	[NationalID] [nvarchar](50) NULL,
	[PhoneNumber] [nvarchar](50) NULL,
	[City] [nvarchar](100) NULL,
	[Street] [nvarchar](100) NULL,
	[Qualification] [nvarchar](100) NULL,
	[Semester] [nvarchar](50) NULL,
	[AcademicYear] [nvarchar](50) NULL,
	[Major] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/5/2026 2:35:50 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Role] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Documents] ON 

INSERT [dbo].[Documents] ([DocumentID], [StudentID], [DocumentName], [DocumentDate], [FilePath]) VALUES (1, 2257, N'Image', CAST(N'2022-01-01' AS Date), N'C:\Users\ayman\OneDrive\الصور\image_1.jpg')
SET IDENTITY_INSERT [dbo].[Documents] OFF
GO
INSERT [dbo].[Students] ([StudentID], [FullName], [MotherName], [BirthDate], [Nationality], [Religion], [MaritalStatus], [NationalID], [PhoneNumber], [City], [Street], [Qualification], [Semester], [AcademicYear], [Major]) VALUES (2257, N'Ayman Younis', N'Fadella', N'10-11-1999', N'Libyan', N'Muslim', N'Single', N'199945451202', N'0927431840', N'almarj', N'303', N'Secondary', N'First', N'2024', N'Computer Science')
INSERT [dbo].[Students] ([StudentID], [FullName], [MotherName], [BirthDate], [Nationality], [Religion], [MaritalStatus], [NationalID], [PhoneNumber], [City], [Street], [Qualification], [Semester], [AcademicYear], [Major]) VALUES (2259, N'Omar shoiab', N'fariha', N'10-10-1999', N'Libyan', N'Muslim', N'Single', N'1959595232323', N'0927422265', N'almarj', N'222', N'Secondary', N'First', N'2024', N'Computer Science')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (2, N'admin', N'123', N'Admin')
INSERT [dbo].[Users] ([UserID], [Username], [Password], [Role]) VALUES (3, N'Ayman', N'123', N'User')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__536C85E40A711FAD]    Script Date: 7/5/2026 2:35:50 AM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Documents]  WITH CHECK ADD  CONSTRAINT [FK_Documents_Students] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Documents] CHECK CONSTRAINT [FK_Documents_Students]
GO
USE [master]
GO
